<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="root-menu" label="Openbox 3">
		<item label="Run...">
			<action name="Execute">
				<execute>gmrun</execute>
			</action>
		</item>
		<separator label="Applications"/>
		<item label="Web Browser">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<item label="Terminal">
			<action name="Execute">
				<execute>sakura</execute>
			</action>
		</item>
		<item label="GVim">
			<action name="Execute">
				<execute>gvim</execute>
			</action>
		</item>
		<separator label="System"/>
		<menu id="root-menu-183732" label="Configuration">
			<item label="Configure Openbox">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="Configure Menu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="Configure Appearance">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-673732" label="Openbox">
			<item label="Restart Openbox">
				<action name="Execute">
					<execute>openbox --restart</execute>
				</action>
			</item>
			<item label="Reconfigure Openbox">
				<action name="Execute">
					<execute>openbox --reconfigure</execute>
				</action>
			</item>
		</menu>
		<separator label="Exit"/>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
	</menu>
</openbox_menu>
